<h1 style="margin-bottom: 15px;text-align: center;">Mejores</h1>
<table class="table table-striped" style="width: 90%;margin: auto;margin-bottom: 25px;">
	<thead>
        <tr>
          <th class="col-sm-1">Categoria</th>
          <th class="col-sm-1">Esperado</th>
          <th class="col-sm-1">Resultado</th>
          <th class="col-sm-1">Pts. Ganados</th>
        </tr>
      </thead>
   <tbody>
        <tr>
          <td>Campeon</td>
          <td></td>
          <td></td>
          <td></td> 
     	</tr>
        <tr>
          <td>Goleador</td>
          <td></td>
          <td></td>
          <td></td> 
     	</tr>
        <tr>
          <td>Mejor Jugador</td>
          <td></td>
          <td></td>
          <td></td> 
     	</tr>
        <tr>
          <td>Sorpresa</td>
          <td></td>
          <td></td>
          <td></td> 
     	</tr>
       <tr>
          <td style="font-weight:bold">Subtotal Mejores</td>
          <td></td>
          <td></td>
          <td></td> 
     	</tr>
    
     </tbody>
</table>

